#breadcrumbs {
  text-align: center;

  @include breakpoints(md) {
    text-align: left;
  }

  & > span > span {
    & > strong,
    & > a {
      &:first-child {
        padding-left: 0;
      }
    }

    & > a {
      @include hover {
        text-decoration: underline;
      }
    }
  }
}
